<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <conversionRule class="org.springframework.boot.logging.logback.ColorConverter"
    conversionWord="clr"/>

  <property name="DEV_PATTERN"
    value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%-5level) %-36logger{36} [%X{requestId:-NO_ID}] - %msg%n"/>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>${DEV_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="JSON">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <includeMdcKeyName>requestId</includeMdcKeyName>
    </encoder>
  </appender>

  <springProfile name="local,dev">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <root level="INFO">
      <appender-ref ref="JSON"/>
    </root>
  </springProfile>

</configuration>