<configuration>
  <!--  로그 레벨별 색상 설정  -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <!--  MDC 값을 포함한 로그 패턴 설정  -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
    <file>${LOG_FILE_PATH}/${LOG_FILE_NAME}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>
  <conversionRule conversionWord="clr"
    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
  <property name="LOG_FILE_NAME" value="application"/>
  <!--  콘솔 출력 설정  -->
  <property name="LOG_PATTERN"
    value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%-5level) %-36logger{36} [%X{requestId} | %X{requestMethod} | %X{requestUri}] - %msg%n"/>
  <!--  파일 출력 설정  -->
  <property name="LOG_FILE_PATH" value=".logs"/>
  <!--  루트 로거 설정 - 레벨은 application.yaml에서 관리  -->
  <root>
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>